# Path to the state file (cache of known processes)
STATE_FILE="/var/tmp/process_state.txt"

# Path to the whitelist file
WHITELIST_FILE="/etc/process_whitelist.conf"

# Path to the zabbix_sender utility
ZABBIX_SENDER="/usr/bin/zabbix_sender"

# IP or DNS of the Zabbix server/proxy
ZABBIX_SERVER="127.0.0.1"

# Host name in Zabbix
ZABBIX_HOST="YOUR_ZABBIX_HOSTNAME"

# Data item key in Zabbix
ZABBIX_KEY="process.watchdog.new.alert"